{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">
    <div class="card shadow-lg border-0 p-4 text-center">
      <h2 class="mb-3">Logged Out</h2>
      <h4 class="mb-4">You have been logged out.</h4>
      <div class="d-grid gap-2">
        <a href="{% url 'login' %}" class="btn btn-success btn-lg"
          >Login again</a
        >
        <a href="{% url 'register' %}" class="btn btn-primary btn-lg"
          >Register</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
