{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">
    <div class="card shadow-lg border-0 p-4">
      <h2 class="mb-4 text-center">Register</h2>
      <form action="" method="post">
        {% csrf_token %} {{ form.as_p }}
        <div class="d-grid gap-2">
          <button class="btn btn-primary btn-lg" type="submit">Register</button>
        </div>
      </form>
      <div class="mt-3 text-center">
        <span>Already have an account?</span>
        <a href="{% url 'login' %}" class="btn btn-success btn-sm ms-2"
          >Login here</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
